{{#extends 'base'}}

{{#block 'content'}}
<h1>Food Details for {{food.foodName}}</h1>
<ul>
    <li>Calories: {{food.calories}}</li>
    <li>Tags: {{food.tags}}</li>
</ul>

<h2>Notes</h2>
{{#each food.notes}}
<div class="card mt-3">
    <div class="card-body">
        {{this.content}}
    </div>
    <div class="card-footer">
        <a href="/notes/{{this._id}}/edit" class="btn btn-primary">Edit</a>
    </div>

</div>
{{/each}}

{{/block}}

{{/extends}}